<html>
<head>
<title>ThaiCreate.Com Ajax Tutorial</title>
</head>
	<script language="JavaScript">
		function fncShow()
		{
			document.getElementById('myTable').style.display = '';
		}

		function fncHide()
		{
			document.getElementById('myTable').style.display = 'none';
		}
	</script>
	
<body>

	<table id="myTable" width="190" border="1" cellspacing="0" cellpadding="0">
		<tr>
			<td>ThaiCreate.Com</td>
			<td>ThaiCreate.Com</td>
		</tr>
		<tr>
			<td>ThaiCreate.Com</td>
			<td>ThaiCreate.Com</td>
		</tr>
	</table>
	<input name="btnShow" id="btnShow" type="button" value="Show" onClick="JavaScript:fncShow();">
	<input name="btnHide" id="btnHide" type="button" value="Hide" onClick="JavaScript:fncHide();">
</body>
</html>